{% extends "layouts/base.html" %}
{% block head %}
{% endblock %}
{% block body %}
    <div class="make-border freeze filter-div p-3">
        <h3>Filters</h3>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            {{ form.title.label(class_="form-label") }}
            {{ form.title(class_="form-control mb-3", placeholder="Enter book title") }}
            {{ form.author.label(class_="form-label") }}
            {{ form.author(class_="form-control mb-3", placeholder="Ented author's name") }}
            {{ form.publish_from.label(class_="form-label") }}
            {{ form.publish_from(class_="form-control mb-3") }}
            {{ form.publish_to.label(class_="form-label") }}
            {{ form.publish_to(class_="form-control mb-3") }}
            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
    <div class="container row">
        <div class="col-4"></div>
        <div class="col-8 make-border move-storage-right-div d-flex flex-column align-items-center">
            {% for book in books %}
                <div class="container row make-border mt-4 p-3">
                    <div class="col-8">
                        <div>
                            <h3>{{ book.title }}</h3>
                            <h6 class="no-line-break">By</h6>
                            {% for author in book.authors %}
                                <h6 class="no-line-break">{{ author.full_name }}. </h6>
                            {% endfor %}
                            <br>
                            <p>{{ book.publication_year }}</p>
                            <p>Categories:</p>
                            <ul class="m-0 mb-3">
                                {% for category in book.categories %}
                                    <li style="font-size: 0.9em; font-style: italic;">{{ category.name|capitalize }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                        <a href="{{ url_for("storage_bp.book_view_get", book_id=book.id) }}">View Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}