{% extends "layouts/base.html" %}
{% block head %}
{% endblock %}
{% block body %}
    <div class="make-border ml-4 freeze filter-div p-3">
        <h3>Filters {{ form.search.data }}</h3>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            {{ form.search.label(class_="form-label") }}
            {{ form.search(class_="form-control mb-3", placeholder="Enter what to find") }}
            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
    <div class="container row">
        <div class="col-4"></div>
        <div class="col-8 make-border move-storage-right-div">
            {% for book in books %}
                <div class="make-border mt-4">
                    <h3>{{ book.title }}</h3>
                    <h6 class="no-line-break">By</h6>
                    {% for author in book.authors %}
                        <h6 class="no-line-break">{{ author.full_name }}. </h6>
                    {% endfor %}
                    <br>
                    <p>{{ book.publication_year }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}