.freeze {
    position: fixed;
    top: 0;
    overflow-y: auto;
}

body {
    padding-top: 56px;
}

.make-border {
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
}

.make-gap {
    gap: 10px;
}

.no-line-break {
    display: inline;
}

.fill {
    width: 100%;
}

.filter-div {
    top: 56px;
    bottom: 0;
    left: 0;
    margin-left: 10em;
    width: 17em;
}