{% from "macros.html" import createNavLink %}

<nav class="navbar navbar-expand-lg bg-dark freeze fill" data-bs-theme="dark" style="z-index: 1;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">L-iterator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ createNavLink("main_bp.home_get", "Home") }}
                {{ createNavLink("storage_bp.storage", "Storage") }}
                {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                        {{ createNavLink("admin.index", "Admin") }}
                    {% endif %}
                    {{ createNavLink("user_bp.my_books_get", "My Books") }}
                    {{ createNavLink("user_bp.settings_get", "Settings") }}
                    {{ createNavLink("auth_bp.logout", "Log out") }}
                {% endif %}
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if current_user.is_authenticated %}
                    <li style="color: lightgray">{{ current_user.username }}</li>
                {% endif %}
            </ul>
            <form class="d-flex" role="search" method="GET" action="{{ url_for("storage_bp.storage") }}">
                {{ search_form.hidden_tag() }}
                {{ search_form.search(class_="form-control me-2", placeholder="Search for a book...") }}
{#                <input class="form-control me-2" type="search" placeholder="Search for a book..." aria-label="Search">#}
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
